.logo-letter img {
  display: inline-block;
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-in-out forwards;
  position: absolute;
}

/* Ensure the special 4th letter (O) fades in more slowly */
.logo-special {
  animation: fadeIn 6s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}